@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

:root {
  --cor_1: #8898f0;
  --cor_2: #816dff;
  --cor_3: #433280;
  --cor_4: #f9ce1e;
}

header {
  width: 100%;
  box-shadow: 2px 2px 10px #1f1f1f7d;
  background-color: #eee5e553  ;
  color: var(--cor_3);
}
header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  color: var(--cor_3);
}
#logo-header a {
  text-decoration: none;
}
#logo-header h1 {
  font-size: 2rem;
  font-family: "Rubik Mono One", sans-serif;
  letter-spacing: -1px;
  transition: 0.3s;
  color: var(--cor_3);
}
#logo-header h1:hover {
  color: var(--cor_4);
  transform: scale(1.1);
}
.select {
  transform: scale(1.1);
  color: var(--cor_4);
}

#opc-header {
  display: flex;
  align-self: center;
}
#opc-header ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
#opc-header ul a {
  font-size: 1.1rem;
  text-decoration: none;
  margin: 0 0.8rem;
}
#opc-header ul a li {
  color: var(--cor_3);

  padding: 0.6rem 1rem;
  border-radius: 16px;
  transition: 0.3s;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
}

#opc-header ul a li:hover {
  text-decoration: underline;
  color: var(--cor_4);
  transform: scale(1.1);
}
#btn-menu {
  display: none;
}
.invisivel {
  display: none;
}

/* Eu dei uma pesquisada no google e no youtube e achei isso, professor.
 eu não pedi pro chatgpt fazer. */

@media screen and (max-width: 730px) {
  header nav {
    padding: 1rem 2rem;
  }
  #opc-header ul {
    display: none;
  }
  #btn-menu {
    display: flex;
  }
  #btn-menu button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  #menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }
  #menu ul a li {
    display: block;
    padding-top: 1rem;
    font-size: 1.2rem;
  }
  #menu ul a {
    text-decoration: none;
  }
}
header img {
  max-width: 50px;
}
/*  */
